In [1]:
import pandas as pd

In [2]:
course_Name=["Data science","Big Data","Machine learning","Deep learning"]
duration=[2,3,4,5]
df=pd.DataFrame(data={"Course_name":course_Name,"duration":duration})

In [3]:
df

        Course_name  duration
0      Data science         2
1          Big Data         3
2  Machine learning         4
3     Deep learning         5

In [4]:
#Q1. Write a code to print the data present in the second row of the dataframe, df.

In [5]:
df[["Course_name","duration"]][1:2]

  Course_name  duration
1    Big Data         3

In [6]:
df.iloc[1]

Course_name    Big Data
duration              3
Name: 1, dtype: object

In [7]:
#Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [8]:
#In pandas, both the loc and iloc functions are used to access
# specific rows and columns in a DataFrame, 
# but they have different ways of indexing and selecting data.
# loc(label based indexing)
# iloc(integer based indexing)

In [9]:
#Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and
# store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].

In [10]:
reindex=[3,0,1,2]
df1=df.reindex(reindex)

In [11]:
df1.loc[2]

Course_name    Machine learning
duration                      4
Name: 2, dtype: object

In [12]:
df1.iloc[2]

Course_name    Big Data
duration              3
Name: 1, dtype: object

In [13]:
df

        Course_name  duration
0      Data science         2
1          Big Data         3
2  Machine learning         4
3     Deep learning         5

In [14]:
df1

        Course_name  duration
3     Deep learning         5
0      Data science         2
1          Big Data         3
2  Machine learning         4

In [15]:
# Explanation is that loc works on default 0,1,2,3,4 
# indexes but iloc works on new defined indexes

In [16]:
#Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’

In [17]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [18]:
df1.describe()

       column_1  column_2  column_3  column_4  column_5  column_6
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.668685  0.655500  0.759982  0.550701  0.299812  0.596942
std    0.186563  0.245903  0.122680  0.324965  0.320848  0.230148
min    0.392728  0.294597  0.616293  0.219875  0.011452  0.294146
25%    0.584245  0.546972  0.705783  0.260895  0.077486  0.472493
50%    0.662587  0.625617  0.712064  0.539691  0.201856  0.601250
75%    0.767115  0.852801  0.827581  0.815522  0.417988  0.664511
max    0.934121  0.937883  0.949692  0.929519  0.857650  0.969833

In [19]:
# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
# mean of column, column_2.
# If you are getting errors in executing it then explain why.
# # [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [20]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.934121  0.937883  0.864731  0.929519  0.011452  0.969833
2  0.566227  0.294597  0.705045  0.763654  0.450400  0.613885
3  0.638297  0.925717  0.949692  0.832812  0.082960  0.433785
4  0.686878  0.523568  0.716130  0.315728  0.320752  0.681387
5  0.392728  0.617182  0.707999  0.242617  0.857650  0.588615
6  0.793860  0.634052  0.616293  0.219875  0.075661  0.294146

In [21]:
df1.iloc[2]="Gaurav"

In [22]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.934121  0.937883  0.864731  0.929519  0.011452  0.969833
2  0.566227  0.294597  0.705045  0.763654    0.4504  0.613885
3    Gaurav    Gaurav    Gaurav    Gaurav    Gaurav    Gaurav
4  0.686878  0.523568   0.71613  0.315728  0.320752  0.681387
5  0.392728  0.617182  0.707999  0.242617   0.85765  0.588615
6   0.79386  0.634052  0.616293  0.219875  0.075661  0.294146

In [23]:
df1.iloc[2].

TypeError: Could not convert GauravGauravGauravGauravGauravGaurav to numeric

In [ ]:
# Q6. What do you understand about the windows function in pandas and list the types of windows
# functions?

In [ ]:
# In pandas, window functions are used for performing calculations
# that involve a "window" of data points over a defined range or size. 
# These functions allow you to perform various calculations
# on sliding or expanding windows of data within a DataFrame or Series.
# rolling().mean()

In [ ]:
#Q7. Write a code to print only the current month and year at the time of answering this question.
# [Hint: Use pandas.datetime function]

In [ ]:
current_date=pd.to_datetime("today")

In [ ]:
current_date

In [ ]:
current_month=current_date.month
current_year=current_date.year

In [24]:
print("Current_month:",current_month)
print("Current_year:",current_year)

NameError: name 'current_month' is not defined

In [25]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.

In [ ]:
date1 = input("Enter the first date in the format(YYYY-MM-DD): ")

date2 = input("Enter the second date in the format(YYYY-MM-DD): ")

date1_obj = pd.to_datetime(date1)

date2_obj = pd.to_datetime(date2)

diff_days = (date2_obj - date1_obj).days

diff_hours = (date2_obj - date1_obj).seconds // 3600

diff_minutes = (date2_obj - date1_obj).seconds // 60 % 60

print("The difference between", date1, "and", date2, "is:")

print(diff_days,"days,",diff_hours,"hours,",diff_minutes,"minutes.")